body
{ 
  margin-top: 6%;
background-color: #008080;
 font-family: "Calibri", Monospace;
}
.adam {
  width: 100%;
}
h4 {
  text-align: center;
}
.Borglaug-center {
  text-align: center;
  margin: 10;
}
strong {
  font-weight: bold;
}
h1
{
  text-align: center;
}
h2 {
  text-align: center;
}
img {
  max-width: 100%;
  max-height: 100%;
}
li {
  text-align: left;
  margin-bottom: 25px;
  font-size: 1.5em;
}